.productInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin:30px;
}

.productInfo img{
    width: 120px;
    height: 120px;
}

.productPrice{
    font-size: 1rem;
    color: rgb(20, 20, 20);
}